* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(246, 246, 246);
    font-family: 'Popins', sans-serif;
}

h1 {
    text-align: center;
    padding: 8px;
    font-size: 40px;
        border-bottom: 2px solid #72acd9;
}

#todo_Input {
    width: 70%;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    font-size: 16px;
    border: 1px solid #b0adad;
    margin-right: 20px;

}

#submitButton {
    background-color: rgb(14, 65, 95);
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.delete_Btn {
    display: block;
    text-align: right;
    padding: 8px 10px;
    width: 60px;
    background-color: crimson;
    color: white;
    margin-left: auto;
    border: none;
    border-radius: 5px;
}

#container {
    margin: 20px auto;
    padding: 20px;
    height: auto;
    max-width: 800px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(155, 154, 154);
}

ul {
    list-style-type: none;
    padding: 0;
    width: 600px;
}

li {
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 5px 10px;
    border-bottom: 1px solid #b0adad;
    text-align: left;
    width: 100%;
    text-wrap: nowrap;
}

li:hover {
    background-color: rgb(211, 234, 254);
}

li:last-child {
    border-bottom: none;
}
